.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box0 {
  width: 7vw;
  height: 5vh;
  background: yellow;
  transform-origin: bottom;
  transition: transform 0.3s ease;
  position: absolute;
  top: 70vh;
}
.box10 { right: 71vw; }
.box8 { right: 64vw; }
.box1 { right: 57vw; }
.box2 { right: 50vw; }
.box3 { right: 43vw; }
.box4 { right: 36vw; }
.box5 { right: 29vw; }
.box6 { right: 22vw; }
.box7 { right: 15vw; }
.box9 { right: 08vw; }
.box0 { right: 71vw; }

.moneyBox {
  width: 50px;
  height: 50px;
  background: brown;
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 400px;
  right: 440px;
}

.box8.expanded {
  transform: scaleY(2);
  background-color: green;
}

.box1.expanded {
  transform: scaleY(2);
  background-color: green;
}

.box2.expanded {
  transform: scaleY(2);
  background-color: green;
}

.box3.expanded {
  transform: scaleY(2);
  background-color: green;
}

.box4.expanded {
  transform: scaleY(2);
  background-color: green;
}

.box5.expanded {
  transform: scaleY(2);
  background-color: green;
}

.box6.expanded {
  transform: scaleY(2);
  background-color: green;
}

.box7.expanded {
  transform: scaleY(2);
  background-color: green;
}

.sign {
  position: absolute;
  width: 350px;
  height: 300px;
  margin: 40px auto;
  right: 700px;
  top: 140px;
}

.sign-board {
  position: absolute;
  top: 0;
  width: 100%;
  height: 120px;
  background: #80471C;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.sign-board button {
  background-color: #4A3728;
  color: white;
  padding: 8px;
}

.sign-leg {
  position: absolute;
  width: 30px;
  height: 180px;
  background: #80471C;
  top: 110px;
}

.sign-leg.left {
  left: 10px;
  transform: rotate(1deg);
}

.sign-leg.right {
  right: 10px;
  transform: rotate(-1deg);
}

.pot-small {
  position: absolute;
  right: 175px;
  bottom: 55px;
  width: 50px;
  height: 50px;
  background: #B3754F;

  /* Formen på krukan */
  clip-path: polygon(5% 0%,
      /* övre vänster (bredare topp) */
      95% 0%,
      /* övre höger */
      80% 100%,
      /* nedre höger (smalare botten) */
      20% 100%
      /* nedre vänster */
    );
  border-radius: 4px;
}

#myBox {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}